<?xml version="1.0" encoding="UTF-8" ?>	
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eMB.Test" thread-count="5" parallel="classes">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="eMB.Test.TestCases.Test1" />
			<class name="eMB.Test.TestCases.Test2" />
			<class name="eMB.Test.TestCases.Test3" />
		</classes>
	</test>
</suite>